/* ## Variables
-----------------------------------------------*/

$font-stack-primary:    "Roboto Slab", sans-serif;
$font-stack-secondary:    "Montserrat", sans-serif;

$color-primary: #041b41;
$color-primary-light: lighten($color-primary, 10%);

$color-secondary: #689996;
$color-tertiary: #c5b989;

$color-black: #101215;

$color-gray-dark: #393a42;
$color-gray-medium: #555555;
$color-gray-light: #a1a1a1;

$shadow-primary: 1px 1px rgba(0, 0, 0, .75);
